.hidden-btn,
.section-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.hidden-btn {
  padding: 0 24px 0 24px;
}

.btn {
  margin: 16px 16px;
  border: 3px solid #999;
  border-radius: 9px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.section-card {
  padding: 24px;
}

table,
td {
  width: 200px;
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

img {
  width: 200px;
  height: auto;
  border-radius: 9px;
}
